@import "~bootstrap/scss/bootstrap";

.logo {                             //navbar logo
  font-size: 1.7em;
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.cent {                             //center align elements
  text-align: center;
  padding: 70px 0;
}

.hd {                //center align text
  text-align: center;
}
li {
  list-style: none;
}
.tabs            //center align buttons on show profile
{
  text-align:center;
}
#box-container{            
  display: flex;
  justify-content:center;
}
.roll{
  position: relative;
  left:28px;
}
.dropdown-menu { background-color: #0062cc; }
.dropdown-item{
  color:white;
}
//body{
  //background-image:url("http://www.brandgradients.com/img/backgrounds/blue-gradient-background.png");

//}
.jumbotron{
  border-radius: 20px;
  padding:40px;
  margin:60px;
}
.container{
  background: white;
}
.carousel-caption {           //move all carousel caption up
 margin-bottom:270px;
}
.cap{
  margin-bottom:30px;
}
.carry{opacity: 0.7;}           //img opacity of carousel

.aboutt{
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color: #101010;
}

header {
	width: 100%;
}

h1 {                                  //customize main heading on homepage
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 5rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #000;
	text-align: center;             //center align headings
}
.head2{                             //customize webpage headings
  	font-size: calc(2.0em + 1.8vw);
	font-weight: 700;
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
	color: #000;
	text-align: center;        //center align headings
}
.carousel-inner{          //carousel height
       height: 450px;
    }
.c2{                        //move carousel 2 caption up
   margin-bottom:350px;      
}
.c3{                       //move carousel 3 caption up
  margin-bottom:150px;
}
.button {                  //carousel next prev button
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
h2{                         //black colour to h2 headings and carousel captions 
  color: #000000;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}