@import '~bootstrap/scss/bootstrap';

.logo{
    font-size: 1.7em;
    float: left;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.cent
{
    text-align: center;
}
.title{
    font-size: 5em;
    font-color: #66b3ff;
}
.but{
  margin:auto;
  display:block;
}
.hd{
      margin: auto;
  width: 50%;
  padding: 10px;
}