<h1 align="center">Portal for Students</h1>
<div>
  <%= link_to 'Instructions', about_path%> | 
  <%= link_to 'Have not registered yet?'%>
</div>

<div>
  <%= link_to 'Your Profile', students_path %>
</div>
