<div class="container">
<div class="jumbotron cent">
<h1 class="text-primary title">SMART-ID</h1>
<%= link_to 'Students', students_path, class: "btn btn-primary btn-lg" %> | <%= link_to 'Faculty', teacher_path, class: "btn btn-primary btn-lg" %> | <%= link_to 'Admin', management_path, class: "btn btn-primary btn-lg" %>
</div>
</div>