<h1>Your Request for smart-card issue has been sent to the administrator. Your Request number is #<%="#{@student.request_id}"%></h1>

<%= link_to 'Smart-id Portal',students_path, class: "btn btn-primary"%>
